:root {
  --BGCOLOR: #f4f3ee;
  --ALTBGCOLOR: #dde5b6;
  --TEXT: #313638;
  --ACCENT: #adc178;
}

* {box-sizing: border-box;}

body {/*simple selector*/
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	background-color: var(--BGCOLOR);
  color: var(--TEXT);
	margin: 30px;
}

p {
	background: var(--ALTBGCOLOR);
	padding: 15px;
	max-width: 700px;
	border-radius: 4px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

ul {
	text-decoration: none;
}

li {
	text-decoration: none;
}

.listButton {
  border: 1px solid var(--ACCENT);
  color: var(--TEXT);
  background-color: var(--ALTBGCOLOR);
  font-size: 20px;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}