:root {
  --BGCOLOR: #fffcfc;
  --TEXT:  #484349;
}

* {box-sizing: border-box;}

body {/*simple selector*/
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	background-color: var(--BGCOLOR);
  color: var(--TEXT);
	margin: 20px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}