:root {
  --BGCOLOR: whitesmoke;
  --ALTBGCOLOR: #dde5b6;
  --TEXT: #313638;
  --ACCENT: #a7bd12;
  --OLD: #adc178; ;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	background-color: var(--BGCOLOR);
  color: var(--TEXT);
	margin: 15px;
}

 {
	background: var(--ALTBGCOLOR);
	padding: 5px;
	margin: 5px;
	width: 90%;
	border-radius: 4px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	padding: 15px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}

ul { list-style-type: none; }

.bg-dark {
	background-color: var(--ALTBGCOLOR) !important;
	box-shadow: 5px 10px 18px #888888;
}

.poke-img {
	border: 2px solid #a8a878;
	border-radius: 5px;
	padding: 5px;
	height: 150px;
}

.main-div {
	margin-top: 100px;
	min-width: 400px;
	border: 2px solid var(--ACCENT);
	border-radius: 5px;
}

.height {
	width: 40%;
	border: 2px solid var(--ACCENT);
}

.listButton {
	background-color: var(--ALTBGCOLOR);
  border: 2px solid var(--ACCENT);
  color: var(--TEXT);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

.listButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

:focus {
	background-color: #c3b3f6;
  border: 2px solid #A890F0;
}

.logo {
	background-color: var(--BGCOLOR);
}
*/